#docs h2 {
  font-size: theme(fontSize.3xl);
  margin-top: theme(spacing.8);
  padding-bottom: theme(spacing.4);
  line-height: 1.1;
  border-bottom: 1px solid theme(colors.accent.DEFAULT);
}

#docs h3 {
  font-size: theme(fontSize.2xl);
  margin-top: theme(spacing.4);
  line-height: 1.1;
}

#docs ul {
  list-style: disc;
  padding-left: theme(spacing.4);
}

#docs ul li {
  margin-top: theme(spacing.4);
}

#docs ul li:first-of-type {
  margin-top: 0;
}

#docs a {
  color: theme(colors.primary.DEFAULT);
}

#docs a:hover {
  color: theme(colors.secondary.DEFAULT);
}

#docs pre {
  margin: theme(spacing.4) 0;
  width: 100%;
}

#docs pre code {
  width: 100%;
  border-radius: theme(borderRadius.lg);
  box-shadow: theme(boxShadow.lg);
}

#docs .center-image {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: theme(spacing.8) 0;
}

#docs .center-image img {
  max-width: 80%;
  border-radius: theme(borderRadius.lg);
}

pre code.hljs {
  display: block;
  overflow-x: auto;
  padding: 1em;
}

code.hljs {
  padding: 3px 5px;
  background: #191622;
}

.hljs-built_in,
.hljs-selector-tag,
.hljs-section,
.hljs-link {
  color: #988bc7;
}

.hljs-keyword {
  color: #ff79c6;
}

.hljs,
.hljs-attr,
.hljs-subst {
  color: #f8f8f2;
}

.hljs-title.class_ {
  color: #988bc7;
}

.hljs-title.function_,
.hljs-meta-keyword {
  color: #67e480;
}

.hljs-string,
.hljs-meta,
.hljs-name,
.hljs-type,
.hljs-symbol,
.hljs-bullet,
.hljs-addition,
.hljs-template-tag,
.hljs-template-variable {
  color: #e7de79;
}

.hljs-comment,
.hljs-quote,
.hljs-deletion {
  color: #5a4b81;
}

.hljs-strong {
  font-weight: bold;
}

.hljs-variable,
.hljs-literal,
.hljs-number {
  color: #78d1e1;
}

.hljs-emphasis {
  font-style: italic;
}
